<html>
<h1>Sign Up!</h1>
<form id="adduser" action="/user" method="post">
    First Name:<input type="text" name="fname" required autofocus oninvalid="InvalidMsgFName(this);"><br>
    Last Name:<input type="text" name="lname" required oninvalid="InvalidMsgLName(this);"><br>
    User Name (3 characters minimum): <input type="text" name="user_name" minlength="3" required oninvalid="InvalidMsgUserName(this);" oninput="InvalidMsgUserNameCheck(this)"><br>
    Password (8 characters minimum): <input type="password" name="user_password" minlength="8" required oninvalid="InvalidMsgPwd(this);"><br>
	Confirm Password: <input type="password" name="user_password_conf" minlength="8" required oninvalid="InvalidMsgPwdConf(this);" oninput="InvalidMsgPasswordCheck(this)"><br>
    <input type="submit" value="Submit">
 </form>
<br/>


<h2>Already a member?</h2>
    <td><a href="/login">Click here to go to the Login Page</a></td> 
</html>
