<html>
<h1>Login</h1>
<form id="login" action="/login" method="">
    Username: <input type="text" name="user_name"><br>
    Password: <input type="text" name="user_password"><br>
 </form>
 <form action="/PickUpPlus.html">
    <input type="submit" value="Login" />
</form>
<br/>
<h2>Don't have a login?</h2>
    <td><a href="/user">Click here to go to the Sign Up Page</a></td> 
</html>
